<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.elsoftware.notificationreminder">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".app.ReminderApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        android:fullBackupContent="@xml/backup_descriptor">
        <activity
            android:name=".ui.activity.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".receiver.NotificationReceiver"
            android:exported="false"
            >
            <intent-filter>
                <action android:name="com.elsoftware.notificationreminder.DONE_ACTION" />
            </intent-filter>
        </receiver>

        <receiver android:name=".receiver.OnBootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".service.JobService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="false" />

        <activity
            android:name=".ui.activity.EditActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:clearTaskOnLaunch="true"
            android:noHistory="true"
            />

        <activity
            android:name=".ui.activity.HistoryActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".ui.activity.AboutActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>